* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

#message {
  max-width: 490px;
  min-width: 490px;
  max-height: 100px;
  min-height: 100px;
}
.container {
  min-height: 100vh;
  background: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
form {
  background: white;
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  border-radius: 10px;
}
form h3 {
  display: flex;
  justify-content: center;
  font-weight: 800;
  margin: 20px;
}
